{% if page.layout == 'home' %}
  <h1>{{ post.logo }}</h1>
  <div class="m-card__illo"><img src="{{post.illustration}}"></div>
  {% assign title = post.title | split: '•' %}
  <h2>{{ title[0] }} • <span>{{ title[1] }}</span></h2>
  <a href="{{ post.url }}"><span class="button">Read the story</span></a>
{% endif %}
{% if page.layout == 'post' %}
  <h1>{{ page.logo }}</h1>
  <div class="m-card__illo"><img src="{{page.illustration}}"></div>
  <p class="m-story__of">The story of</p>
  {{ page.intro_paragraph | markdownify }}
{% endif %}
