.m-card, .m-card__article {
  min-height: 70vh;
  display: block;
  background-color: $m-red;
  margin-bottom: spacing(2);
  text-align: center;
  padding: spacing(3) spacing(2);
  transform: scale(0.96);
  transform-origin: center;
  transition: all ease-in-out 0.5s;
  overflow: hidden;

  h1 {
    transform: scale(1);
    max-width: 100%;
    transform-origin: center;
    transition: all ease-in-out 0.5s;
    position: relative;
    z-index: 10;
  }

  h2 {
    @include font-size($base-size, 1);
    margin: spacing(4) 0 spacing(2) 0;
    text-transform: none;
    letter-spacing: 0;
    padding-bottom: 0;

    span {
      font-weight: normal;
    }

    &:after {
      display: none;
    }
  }

  a {
    border: none;
  }

  &.inview {
    transform: scale(1);

    h1 {
      transform: scale(1.02);
    }

    .m-card__illo {
      transform: scale(1.2);
    }
  }

  .button {
    font-size: $size-four;
    font-weight: normal;
  }
}

.m-card__illo {
  width: 100%;
  transform-origin: center;
  transition: all ease-in-out 0.5s;

  img {
    width: 100%;
    height: auto;
  }
}
