.m-card {
  min-height: 80vh;
  display: block;
  background-color: $m-red;
  margin-bottom: spacing(2);
  text-align: center;
  padding: spacing(2);
  transform: scale(0.96);
  transform-origin: center;
  transition: all ease-in-out 0.5s;

  h1 {
    @include font-size($size-card, 1);
  }

  h2 {
    @include font-size($base-size, 1);
    margin-top: spacing(2);
  }

  a {
    border: none;
  }

  &.inview {
    transform: scale(1);
  }

  .button {
    font-size: $size-four;
  }
}

.m-card__illo {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}
