.m-page__footer {
  padding-top: spacing(2);
  margin-top: spacing(4);
  background-color: $m-black;

  h1 {
    color: #fff;
    font-family: $recoleta;
    @include font-size($size-card, 1);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    color: #fff;
  }
}

footer {
  text-align: center;
  padding: spacing(2) 0;

  .button {
    @include button(#fff, $m-black);
    font-size: $size-three;
    margin-left: auto;
    margin-right: auto;
  }

  .m-logo__mini {
    margin: spacing(2) 0;
  }

  small {
    color: #fff;
    margin-top:spacing(2);
  }
}
