.m-logo {
  width: 130px;

  svg {
    width: 100%;
    height: auto;
  }

  nav & {
    svg {
      path {
        fill: $m-white;
      }
    }
  }
}


.m-hamburger {
  position: fixed;
  top: spacing(2);
  right: spacing(2);
  z-index: 100;

  &.open {
    span {
      background-color: $m-white;
      transform: rotate(45deg) translate(11px, 9px);

      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  span {
    height: 2px;
    width: 40px;
    background-color: $m-black;
    display: block;
    margin-bottom: 12px;
    transition: all ease-in-out 0.2s;
  }
}
