---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div class="m-card__article" style="background-color:{{ page.colour }}">
  {% include card-content.html %}
</div>

{% assign sections = page.sections %}

<section class="m-story__section drop-cap">
  {{sections.section | pretty | markdownify | replace: '\', '' }}
</section>
<section class="m-story__section" style="background-color:{{ page.colour }}">
  {{sections.section2 | pretty | markdownify | replace: '\', '' }}
</section>
<section class="m-story__section">
  {{sections.section3 | pretty | markdownify | replace: '\', ''}}
</section>
<section class="m-story__section" style="background-color:{{ page.colour }}">
  {{sections.section4 | pretty | markdownify | replace: '\', ''}}
</section>
<section class="m-story__section">
  {{sections.section5 | pretty | markdownify | replace: '\', ''}}
</section>

<section class="m-story__clients">
  <h3>Clients</h3>
</section>
<section class="m-story__bio">
  {{page.working | markdownify | replace: '\', ''}}
  {{page.teaching | markdownify | replace: '\', ''}}
  {{page.awards | markdownify | replace: '\', ''}}
  {{page.website | markdownify | replace: '\', ''}}
  {{page.instagram | markdownify | replace: '\', ''}}
</section>

{% include page-footer.html %}
