---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div class="m-card__article" style="background-color:{{ page.colour }}">
  {% include card-content.html %}
</div>

{% assign sections = page.sections %}

<section class="m-story__section drop-cap">
  {{sections.section | pretty | markdownify | replace: '\', '' }}
</section>
<section class="m-story__section" style="background-color:{{ page.colour }}">
  {{sections.section2 | pretty | markdownify | replace: '\', '' }}
</section>
<section class="m-story__section">
  {{sections.section3 | pretty | markdownify | replace: '\', ''}}
</section>
<section class="m-story__section" style="background-color:{{ page.colour }}">
  {{sections.section4 | pretty | markdownify | replace: '\', ''}}
</section>
<section class="m-story__section">
  {{sections.section5 | pretty | markdownify | replace: '\', ''}}
</section>

{% assign clients = page.sections.clients %}

<section class="m-story__clients">
  <h3>Clients</h3>
  <img src="{{clients.client}}">
</section>
<div class="divider">
  <img src="/assets/img/uploads/squiggle-1.png">
</div>
<section class="m-story__bio">
  <h3>Working</h3>
  {{page.working | markdownify | replace: '\', ''}}
  <h3>Teaching</h3>
  {{page.teaching | markdownify | replace: '\', ''}}
  <h3>Awards</h3>
  {{page.awards | markdownify | replace: '\', ''}}
  <h3>Website</h3>
  {{page.website | markdownify | replace: '\', ''}}
  <h3>Instagram</h3>
  {{page.imstagram | markdownify | replace: '\', ''}}
</section>

{% include page-footer.html %}
